In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import DataFrame, Series

<h2>Viewing and Manipulating Data</h2>

In [2]:
hotel = pd.read_csv('/home/mohammed/GreyAtom/Python/Projects/datalytics/DataFiles/Hotels/Hotel_Cleaned.csv',index_col=0)
hotel.head()

,Hotel_Name,City_Name,000,001,002,003,004,005,006,007,...,246,247,248,249,250,251,252,253,254,256
0,Carnegie Deli,washington_dc,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
1,Le Gaulois,washington_dc,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2,101,new_york,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,101 Seafood,new_york,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,103 NYC,new_york,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
hotel_transpose = hotel.iloc[:,2:].T

<h2>We are Good to go now </h2>

In [4]:
def findSimilarFeatures(hotel_df,feature_id):
    feature_vector = hotel_df.loc[feature_id]
    user_preferences = feature_vector
    return calculateSimilarityScore(hotel_df,user_preferences, 10)

In [5]:
def getFeatureScore(features, user_preferences):  
    return np.dot(features,user_preferences)

In [6]:
def calculateSimilarityScore(hotel_df,user_preferences, n_recommendations):
    #List of all column features in the dataset
    features = hotel_df.columns
    hotel_df['feature_score'] = hotel_df[features].apply(getFeatureScore, 
                                                           args=([user_preferences]), axis=1)
    return hotel_df.sort_values(by=['feature_score'], ascending=False)['feature_score'][1:n_recommendations]

In [7]:
findSimilarFeatures(hotel_transpose,'250')

205    724
253    709
075    588
191    533
192    493
053    491
231    479
174    456
076    389
Name: feature_score, dtype: int64

In [ ]:
#For verifying the feauture score lets define a function that will given the count of hotel in which the feature is present

In [ ]:
def getFeatureCount(feature_id):
    s = hotel_transpose.loc[feature_id]
    return s.iloc[s.nonzero()][:-1].value_counts()

In [ ]:
getFeatureCount('205')
#So in 2169 hotels, the feature "205" is present

In [ ]:
getFeatureCount('250')
#And 1238 hotels, the feature "250" is present. The series returned by the algo says that 
#"There are 725 hotels in which, given a feature "250", 205 is also present. Likewise for all other features